#search input {
   border: 0;
   font-size: 20px;
}

#search input:active {
   border: 0;
}

.cover {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: #00000022;
   z-index: 50;
}

#selected {
   background-color: #fdfdfd;
   color: #111;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
}

.searchbar {
   z-index: 60;
   max-width: 800px;
   min-width: 100px;
   background-color: #f1f1f1;
   padding: 10px;
   border-radius: 8px;
   top: 120px;
   position: fixed;
   left: 50%;
   transform: translateX(-50%);
   box-shadow: 0px 3px 13px -2px rgba(0, 0, 0, 0.15);
}

.searchdiv input {
   box-sizing: border-box;
   background-color: #e4e4e4;
   display: flex;
   border-radius: 5px;
   padding: 10px;
   width: 100%;
}

.result {
   margin-top: 10px;
   padding: 10px;
   background-color: #E9E9E9;
   color: #333;
   border-radius: 5px;
}

.resultlink {
   text-decoration: none;
}

.result h2 {
   font-family: Montserrat;
   font-size: 20px;
   text-decoration: none;
   margin: 0;
}

.result p {
   font-size: 16px;
   color: #888888;
   text-decoration: none;
   margin: 0;
}
